h1{
    color: chartreuse;
}
.box {
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtyBNUs55TQZAznWqtd3gqP6VT67IpqmjoOA38S9Sk0g&s=10);
width: 500px;
height: 500px;
background-size: cover;
color: crimson;
}
.lab{
    font:300 100px italic Arial 6;

}
h1{
    color: red;
}
.giri{
    color:blue;
}
#intro{
    background-color:mistyrose;

}
h1,h2,p{
    font-size: 50px;
}
div p{
    color: darkmagenta;
    font-size: 20px;
}